:host {
	display: block;
	bottom: 0;
	background-color: #1e1e2f;
	max-width: 80%;
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
}

.chat-container {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 200px);
	background: #1e1e2f;
	color: #fff;
	padding: 1rem;
	font-family: "Comic Neue", cursive;
	box-sizing: border-box;

	h1 {
		text-align: center;
	}
}
